@font-face {
  font-family: "Studio Anton";
  src: url("./fonts/anton.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Studio Inter";
  src: url("./fonts/inter.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Studio Montserrat";
  src: url("./fonts/montserrat.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
